<div class="container my-4">
  <h2 class="text-center mb-4 program-gallery-title">Program Gallery</h2>



<div class="row">
  <div *ngIf="Programs.length > 0; else noPrograms"></div>
  <!-- Loop through the programs array and display each program -->
  <div class="col-md-4 mb-4" *ngFor="let program of Programs">
    <div class="card border-secondary">
      <img [src]="program.imagePath" class="card-img-top" alt="{{program.name}}">
      <div class="card-body bg-light">
        <h5 class="card-title text-danger">{{ program.name }}</h5>
        <p class="card-text"><i class="fas fa-info-circle"></i> {{ program.description }}</p>
        <p class="text-muted">{{ program.category }} | Fees : {{ program.fees | currency }}</p>
        <p class="text-success">{{  program.enrollments? program.enrollments.length :0 }} Enrolled</p>
        <button class="btn btn-danger btn-sm" (click)="Remove(program.id)">Remove</button>
      </div>
    </div>
  </div>
</div>


  <ng-template #noPrograms>
    <p><i class="fas fa-exclamation-triangle"></i> No programs available</p>
  </ng-template>

  <!-- Add New Program Button -->
  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <i class="bi bi-plus-square-fill"></i> Add New Program
  </button>

  <!-- Modal To Add New Program -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Add New Program</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form [formGroup]="NewProgramForm">
            <div class="form-group">
              <label for="exampleFormControlInput1">Name</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="Name">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Category Selection</label>
              <select class="form-control" id="exampleFormControlSelect1" formControlName="Category">
                <option>Aerobics</option>
                <option>Strength Training</option>
                <option>Body Building</option>
                <option>Yoga</option>
                <option>Calisthenics</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Fees</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="Fees">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="Description"></textarea>
            </div>
          </form>
        </div>
          <!-- Image Upload -->
          <div class="form-group">
            <label for="image">Program Image</label>
            <input type="file" class="form-control" id="image" (change)="onFileChange($event)">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="!NewProgramForm.valid || !selectedImage" >Add</button>
         
        </div>
      </div>
    </div>
  </div>
</div>
