

.card {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s ease;
  animation: fadeInEffect 1.5s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 1 10px 30px rgba(204, 82, 82, 0.15);
}

.text-success {
  font-size: 1rem;
  color: #27ae60; /* Green color for the enrollment count */
  font-weight: bold;
  margin-bottom: 10px;
}

.card .btn:hover {
  background-color: #ec4040; /* Lighter red for button hover */
  transition: background-color 0.2s ease;
}



/* Ensure all buttons in the card have some space and consistent padding */
.card .btn {
  margin-left: 2px;
  padding: 8px 12px;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase; 
  border-radius: 20px; 
}

@keyframes fadeInEffect {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Slightly raised at the start */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Normal position */
  }
}

