.table-container {
    margin: 20px auto;
    max-width: 90%;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  mat-table {
    width: 100%;
  }
  
  th.mat-header-cell {
    background-color: #f1f1f1;
  }
  
  .mat-cell {
    padding: 12px;
  }
  
  .mat-column-id,
  .mat-column-payee,
  .mat-column-payer,
  .mat-column-dateTime,
  .mat-column-paymentType {
    text-align: left;
  }
  
  /* Style the paginator */
  .custom-paginator {
    margin-top: 15px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .custom-paginator .mat-paginator-navigation-button {
    color: #4caf50;
  }
  
  .custom-paginator .mat-select-value {
    font-weight: bold;
  }
  
  .custom-paginator .mat-paginator-range-label {
    font-style: italic;
    color: #555;
  }
  