
  <section style="background-color: #161213;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
             
             
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <!-- Reactive Form with validation -->
                  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="d-flex align-items-center mb-3 pb-1">
                       <img src="logo.jpg" alt="" width="50px" ><i style="color: #e02f17;"> unicom  <span class="h5 fw-bold mb-0 text-dark">Fitness</span> </i>
                     
                    </div>
                    
                    <span class="h1 fw-bold mb-0">WELCOME WARRIOR</span>
  
                    <!-- Full Name Field with validation -->
                    <div class="form-outline mb-4">
                      <input type="text" id="name" formControlName="name" class="form-control form-control-lg" />
                      <label class="form-label" for="name">Full Name</label>
                      <div *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid" class="text-danger">
                        <small *ngIf="registerForm.get('name')?.errors?.['required']">Full name is required.</small>
                        <small *ngIf="registerForm.get('name')?.errors?.['minlength']">Name must be at least 3 characters long.</small>
                      </div>
                    </div>
  
                    <!-- Email Field with validation -->
                    <div class="form-outline mb-4">
                      <input type="email" id="email" formControlName="email" class="form-control form-control-lg" />
                      <label class="form-label" for="email">Email address</label>
                      <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" class="text-danger">
                        <small *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
                        <small *ngIf="registerForm.get('email')?.errors?.['email']">Please enter a valid email.</small>
                      </div>
                    </div>

                       <!-- Nic number Field With Validation -->
                    <div class="form-outline mb-4">
                      <input type="nicnumber" id="nicnumber" formControlName="nicnumber" class="form-control form-control-lg" />
                      <label class="form-label" for="nicnumber">Nicnumber</label>
                      <div *ngIf="registerForm.get('nicnumber')?.touched && registerForm.get('nicnumber')?.invalid" class="text-danger">
                        <small *ngIf="registerForm.get('nicnumber')?.errors?.['required']">nicnumber is required.</small>
                        <small *ngIf="registerForm.get('nicnumber')?.errors?.['minLength']">Ten characters must</small>
                        <small *ngIf="registerForm.get('nicnumber')?.errors?.['invalidNic']">Please enter a valid nicnumber</small>
                      </div>
                    </div>
                   
                    <div class="form-outline mb-4">
                      <select id="gender" formControlName="gender" class="form-control form-control-lg">
                        <option value="">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                      </select>
                      <label class="form-label" for="gender">Gender</label>
                    </div>
                    <div formGroupName="address">
                      <div class="row"> 
                        <div class="form-group col-md-4">
                          <label for="firstLine">
                            <i class="fa fa-map-marker-alt"></i> First Line
                          </label>
                          <div class="input-group">
                            <input id="firstLine" type="text" formControlName="firstLine" class="form-control" />
                          </div>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="secondLine">
                            <i class="fa fa-map-marker-alt"></i> Second Line
                          </label>
                          <div class="input-group">
                            <input id="secondLine" type="text" formControlName="secondLine" class="form-control" />
                          </div>
                        </div>
                         <div class="form-group col-md-4">
                          <label for="city">
                            <i class="fa fa-city"></i> City
                          </label>
                          <div class="input-group">
                            <input id="city" type="text" formControlName="city" class="form-control" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Password Field with validation -->
                    <div class="form-outline mb-4">
                      <input type="password" id="password" formControlName="password" class="form-control form-control-lg" (input)="checkPasswordStrength()" />
                      <label class="form-label" for="password">Password</label>
                      <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid" class="text-danger">
                        <small *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</small>
                        <small *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
                      </div>
                      
                      <!-- Password Strength Meter -->
                      <div *ngIf="passwordStrength > 0" class="mt-2">
                        <div [ngClass]="passwordStrengthClass" class="progress">
                          <div class="progress-bar" [style.width]="passwordStrength + '%'"></div>
                        </div>
                        <div class="text-muted">{{passwordStrengthMessage}}</div>
                      </div>
                    </div>
  
                    <!-- Confirm Password Field with validation -->
                    <div class="form-outline mb-4">
                      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control form-control-lg" />
                      <label class="form-label" for="confirmPassword">Confirm Password</label>
                      <div *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.invalid" class="text-danger">
                        <small *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required.</small>
                        <small *ngIf="registerForm.get('confirmPassword')?.errors?.['minlength']">Confirm Password must be at least 6 characters long.</small>
                        <small *ngIf="registerForm.get('confirmPassword')?.errors?.['mismatch']">Passwords do not match.</small>
                      </div>
                    </div>
  
                    <!-- Submit Button (disabled if form is invalid) -->
                    <div class="pt-1 mb-4">
                      <button type="submit" class="btn btn-dark btn-lg btn-block">Register</button>
                    </div>
  
                    <!-- Additional links -->
                    <a class="small text-muted" href="#!">Already have an account? Login here</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">By signing up, you agree to our <a href="#!" style="color: #393f81;">Terms of use</a> and <a href="#!" style="color: #393f81;">Privacy policy</a></p>
  
                  </form>
                </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  