
<div class="container mt-2 p-2">
  <div class="d-flex justify-content-between m-2">
    <div class="input-group" style="max-width: 20%;">
      <input 
      type="search" 
      class="form-control rounded" 
      placeholder="Search" 
      aria-label="Search"  
      name="searchbox" 
      [(ngModel)]="searchTerm" 
    >
      <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>
        <i class="bi bi-search"></i>
      </button>
    </div>
    <!-- Deactivate all Unpaid users in a click -->
    <button class=" rounded btn btn-outline-danger" (click)="DeactiveUnpaid(DeactivateUnpaid)">
       Deactive All unpaid Users 
    </button>
    <ng-template #DeactivateUnpaid>
      <div class="modal-body text-center">
        <p>Do you want to Delete All unpaid Members?</p>
        <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
      </div>
    </ng-template>

  <!-- filter options -->
 
  <!-- <input type="text" value="Filter" placeholder="Filter" class="btn" [(ngModel)]="filter" name="filter"> -->
  <div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Filter
    </button>
    <ul class="dropdown-menu">
      <li><button (click)="GetActiveMember()">onlyactive</button></li>
      <li><button (click)="GetActiveMember()">only members </button> </li>
    </ul>
  </div>
 
    

  
 


    <button [routerLink]="['/admin/Member-add']" class="rounded btn btn-outline-secondary">
      Add new user <i class="bi bi-ui-checks"></i>
    </button>
  </div>

  <table class="table table-hover shadow-sm p-3 mb-5 bg-secondary rounded">
    <thead>
      <tr class="table-dark">
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>NIC Number</th>
        <th>Address</th>
        <th>Fees</th>
        <th>Activation Status</th>
        <th>Expiry Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | userSearch: searchTerm;let i = index">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ getRoleName(user.role) }}</td>
        <td>{{ user.nicnumber }}</td>
        <td>{{ user.address.city }}</td>
        <td>{{ user.fees | currency }}</td>
        <td>{{ user.isActivated ? 'Active' : 'Inactive' }}</td>
        <td>{{ user.expiryDate | date: 'short' }}</td>
        <td class="p-2">
          <button class="rounded btn btn-outline-primary mx-1" [routerLink]="['/admin/member/' + user.id]">
            <i class="bi bi-pencil"></i>Edit
          </button>

          <button 
          class="rounded btn btn-outline-danger mx-1" 
          (click)="SoftDeleteUser(user.id)" 
          [ngStyle]="{'opacity': user.isActivated ? '1' : '0.5', 'cursor': user.isActivated ? 'pointer' : 'not-allowed'}"
          [disabled]="!user.isActivated">
         Deactive <i class="bi bi-x-circle"></i>
        </button>
        
          <!-- <button class="rounded btn btn-outline-danger mx-1" (click)="HardDeleteUser(user.id , i)">
            Delete <i class="bi bi-trash"></i>
          </button> -->
         
        </td>
      </tr>
    </tbody>
    
  </table>
 
</div>
