<nav
  class="navbar bg-dark border-bottom border-body justify-content-center "
  data-bs-theme="dark"
>
  <div class="d-flex justify-content-center ">
    <div class="link m-3"><a class="nav-link link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"  [routerLink]="['/WorkoutPrograms-list']">WorkoutPrograms</a></div>
    <div class="link m-3"><a class="nav-link link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"  [routerLink]="['/Member-list']">Members</a></div>
    <!-- <div class="link m-3"><a class="nav-link link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"  [routerLink]="['/list-task']">Disabled</a></div> -->
  </div>
</nav>

<router-outlet>  </router-outlet>

<div class="container sticky-bottom">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="text-muted">&copy; Mk Fitness, SL</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
    </ul>
  </footer>
</div>

<div class="b-example-divider"></div>