/* Ensure the container is centered */
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  width: 100%;
  max-width: 1200px; /* Limit max width */
}

/* Make the table responsive */
.responsive-table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto; /* Allow horizontal scrolling on small screens */
  margin: 0 auto; /* Center the table */
}
th{
  background-color: aliceblue;
}
/* Add padding to table header and cells */
th, td {
  padding: 8px 16px;
  text-align: left;
}

/* Style table headers */
.header-column {
  font-weight: bold;
  background-color: #f4f4f4;
}

/* Style table rows */
.cell {
  background-color: #fff;
}

/* Style for the paginator */
.custom-paginator {
  margin-top: 10px;
}

/* Make sure the paginator adapts to smaller screens */
@media (max-width: 768px) {
  .mat-paginator {
    font-size: 12px;
  }

  .responsive-table th, .responsive-table td {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  /* Stack the table columns for mobile */
  .responsive-table {
    display: block;
    overflow-x: scroll;
  }

  .header-column, .cell {
    display: block;
    width: 100%;
  }

  .responsive-table th {
    background-color: #f4f4f4;
    font-size: 14px;
  }
}
